name: CI

on:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: ['7.4', '8.0']
        dependencies: ['lowest', 'highest']

    steps:
    - uses: actions/checkout@v2

    - uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
    - uses: ramsey/composer-install@v1
      with:
        dependency-versions: ${{ matrix.dependencies }}

    - run: composer lint
    - run: composer test
      env:
        XDEBUG_MODE: coverage

    - uses: codecov/codecov-action@v1
      with:
        file: ./coverage/clover.xml

  release:
    if: github.event_name == 'push'
    needs: check
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: ph-fritsche/action-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
